<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>
<body>
    <footer>
        <div class="rodape">

           <a href="/" class="icon">
                <img src="/images/Logo.png">
            </a>

            <p class="direitos">Copyright © 2022</p>

            <div class="footerGrid">

                

                <div class= "categorias">
                    <a href="/categorias">
                        <p class="categorias-1">Categorias</p>
                    </a>
                </div> 

                <div class="contato">
                    <p>Contato</p>
                </div>

            </div>

           <div class="redeSocial">
               <img class="facebook" src="/images/redeSocial/facebook.png">
               <img class="instagram" src="/images/redeSocial/instagram.png">
               <img class="whatsapp" src="/images/redeSocial/whatsapp.png">
               <img class="youtube" src="/images/redeSocial/youtube.png">
           </div>

        </div>
    </footer>
</body>
</html>