<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/header.css">

    <link rel="icon" href="/images/Logo.png">
    <title>Uaiphone</title>
</head>
<body>
    <header>
        <div class="headerContainer">

            <div class="logo">
                <img src="/images/Logo.png">
            </div>

            <h1>Uaiphone</h1>

            <div class="pesquise">
                <input id="lupa" class="pesquisa" type="text" placeholder="Buscar...">
                <img class="lupa" for="lupa" src="/images/Lupa.png" alt="lupa">
            </div>

            <div class="usuario">
                <img src="/images/usuario.png">
            </div>

            <button class= "cadastro"  type="button">
                <p>Olá, faça seu <br><b>Login</b>/<b>Cadastre-se</b></p>
            </button>

            <div class="compra">
                <img src="/images/carrinho.png">
            </div>

        </div>
    </header>
</body>
</html>