<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="/images/Logo.png">
  <link rel="stylesheet" href="/stylesheets/apple.css">
	<title>Smartphones Apple</title>
</head>
<body>
    <div>
        <%- include('./partials/header') %>

        <main>

					<div class="container1-1">

						<div class="categorias1-2">
							<a href="/categorias"><b>Categorias</b></a>
						</div>

						<div class="categorias2-2">
							<div class="marca1">
								<a href="/categorias/samsung">Samsung</a>
							</div>
							<div class="marca2">
								<a href="/categorias/apple"><b>Apple</b></a>
							</div>
							<div class="marca3">
								<a href="/categorias/motorola">Motorola</a>
							</div>
							<div class="marca4">
								<a href="/categorias/xiaomi">Xiaomi</a>
							</div>
						</div>

					</div>

					<div class="container2-1">
						<div class="logoApple-2">
							<img src="/images/Logo/apple.png" alt="logo da apple">
						</div>

						<div class="imagesPhones-2">
							

							<div class="produto1-2">
								<div class="imagem1-3">
									<img src="/images/phones/apple/Iphone13ProMax.png" alt="Iphone 13 Pro Max">
								</div>
								<p>Iphone 13 Pro Max</p>
								<p>R$ 8.598,07</p>
							</div>

							<div class="produto1-2">
								<div class="imagem1-3">
									<img src="/images/phones/apple/Pro/Branco/FrontBack1.png" alt="Iphone 13 Pro">
								</div>
								<p>Iphone 13 Pro</p>
								<p>R$ 7.998,82</p>
							</div>

							<div class="produto1-2">
								<div class="imagem1-3">
									<a href="/produtoAppleCorPreto"><img src="/images/phones/apple/Mini/Branco/FrontBack.png" alt="Iphone 13 Mini"></a>
								</div>
								<p>Iphone 13 Mini</p>
								<p>R$ 6.599,00</p>
							</div>

						</div>
					</div>

        </main>

        <%- include('./partials/footer') %>
    </div>
</body>
</html>