<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="/images/Logo.png">
  <link rel="stylesheet" href="/stylesheets/cadastro.css">
  <title>UaiPhone</title>
</head>
<body>
  <div class="container">
    <%- include('./partials/header') %>

        <main>
            <div class="registro-1">
              <div class="caixa1Registro-2">

              </div>
              <div class="caixa2Registro-2">
                
              </div>
            </div>
        </main>

    <%- include('./partials/footer') %>
    </div>
</body>