<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/images/Logo.png">
    <link rel="stylesheet" href="/stylesheets/cadastro.css">
    <title>Cadastro</title>
</head>
<body>
   <div>
      <%- include('./partials/header') %>
      <main>
      <div class="container">
         <div class="cinza">
            <div class="login">
               <div class="teste">

                  <div class="entrar">
                     <p>Entrar</p>
                  </div>
                  <div class="foto">
                     <img src="/images/usuario.png">
                  </div>
                  <form class="cad" method="post" action="">
                     
                     <input class="email" type="email" id="email" name="email" placeholder="email..." required ><br>
                     <input class="senha" type="password" id="password" name="password" placeholder="senha..." required><br>
                     <button class="botao" type="submit">
                        <p><b>Entrar</b></p>
                     </button>
                     <p>Não tem uma conta? <b>Cadastre-se</b></p>
                  </form>
               </div>
            </div>   
         </div>
      </div>
      </main> 
   </div>
   <%- include('./partials/footer') %>
</body>
</html>