<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/images/Logo.png">
    <link rel="stylesheet" href="/stylesheets/carrinho.css">
    <title>UaiPhone</title>
</head>
<body>
    <div class="container">
        <main>
            <h1>Nada criado aqui</h1>
            <h2>Perdão se não achou o que queria</h2>
        </main>
    </div>
</body>