<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="/images/Logo.png">
	<link rel="stylesheet" href="/stylesheets/carrinho.css">
	<title>Carrinho</title>
</head>

<body>
	<div class="container">
		<%- include('./partials/header') %>

			<main>
				<div class="caixa-1">

					<div class="h1-2">
						<h1>Meu carrinho</h1>
					</div>

					<div class="produtos-2">

						<div class="produtoInfo-3">

							<div class="produto1-4">
								<div class="produto1Info-5">
									<div class="produto1PrecoTxt-6">Preço</div>
									<div class="produto1QuantidadeTxt-6">Quantidade</div>
									<div class="produto1SubtotalTxt-6">Subtotal</div>
								</div>
								<div class="produto1InfoAndConfig-5">
									<div class="produto1Image-6">
										<img src="/images/phones/samsung/Ultra/Preto/FrontBack.png" alt="S22ULTRA">
									</div>
									<div class="produto1Description-6">
										<p class="produtoDesc-7">
											Smartphone Samsung Galaxy S22 Ultra 256GB Preto 5G - 12GB RAM 6,8 Câm. Quádrupla + Selfie 40MP
										</p>
									</div>
									<div class="produto1Preco-6">
										<p class="preco-7">
											R$ 8.550,00
										</p>
									</div>
									<div class="produto1QuantidadeChange-6">
										<input type="number" name="numberP" id="numberP">
									</div>
									<div class="produto1Subtotal-6">
										<p class="precoSubtotal-7">
											R$ 8.550,00
										</p>
									</div>
								</div>
								<div class="acessoriosAdd-5">
									<p>Acessorios</p>
								</div>

								<div class="produto1Delete-5">
									<button class="produto1Delete-6">
										Delete
									</button>
								</div>
							</div>

						</div>

						<div class="finalizar-3">

							<div class="calculeFrete-4">
								<div class="resumo-5" style="font-size: 2vw;  width: auto; background-color: white; font-weight: 600;">
									<p>Resumo</p>
								</div>
								<form class="form-5">

									<label for="CEP" class="formLabel-6">Calcule seu frete</label>
									<input class="cepInput-7" id="CEP" type="tel" name="CEP" id="CEP" pattern="[0-9]{5}-[0-9]{2}"
										placeholder="00000-00" />

								</form>
								<button class="calcular-5">Calcular</button>

							</div>

							<div class="cupomDesconto-4">
								<form class="formCupom-5" id="enviar">

									<label for="Cupom" class="formCupomLabel-6">Adicione um cupom de desconto</label>
									<input class="cepCupomInput-7" id="CEP" type="tel" name="CEP" id="Cupom"
										placeholder="Digite o cupom..." />

								</form>
								<button class="adicionar-5">Adicionar</button>

							</div>

							<div class="infosAndConcluir-4">
								<div class="subtotal-5">
									<p>Subtotal</p>
									<b>
										<p class="produtoDesc-7" style="font-weight: 400">R$0.000,00</p>
									</b>
								</div>

								<div class="precoFrete-5">
									<p>Frete</p>
									<b>
										<p class="produtoDesc-7" style="font-weight: 400">R$000,00</p>
									</b>
								</div>

								<div class="total-5">
									<p>Total</p>
									<b>
										<p class="produtoDesc-7" style="font-weight: 400">R$0.000,00</p>
									</b>
								</div>

								<div class="comprar-5">
									<a style="text-decoration:none; color: var(--color4);" target="_blank" href="/comprafinalizada"><b>
											<p>Finalizar pedido</p>
										</b></a>
								</div>

								<div class="voltarHome-5">
									<a href="/" class="voltarHome-6">
										<p class="voltarHome-7">Continuar comprando</p>
									</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</main>

			<%- include('./partials/footer') %>
	</div>
</body>