<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="/images/Logo.png">
    <link rel="stylesheet" href="/stylesheets/categorias.css">
</head>
<body>
    <div>
        <%- include('./partials/header') %>

        <main>

					<div class="container1-1">

						<div class="categorias1-2">
							<p>Categorias</p>
						</div>

						<div class="categorias2-2">
							<div class="marca1">
								<a href="/categorias/samsung"><p>Samsung</p></a>
							</div>
							<div class="marca2">
								<a href="/categorias/apple"><p>Apple</p></a>
							</div>
							<div class="marca3">
								<a href="/categorias/motorola"><p>Motorola</p></a>
							</div>
							<div class="marca4">
								<a href="/categorias/xiaomi"><p>Xiaomi</p></a>
							</div>
						</div>

					</div>

					<div class="container2-1">
						<div class="container3-2">
							
							<h1>Selecione a categoria </h1>
								<div class="categorias-3">
									<div class="image1-3">
										
											<img src="/images/Logo/samsungLogo.png" alt="logo da samsung">
										
									</div>
									<div class="image2-3">
										<a href="/categorias/apple"><img src="/images/Logo/apple.png" alt="logo da apple"></a>
									</div>
									<div class="image3-3">
										<a href="/categorias/motorola"><img src="/images/Logo/motorola.png" alt="logo da motorola"></a>
									</div>
									<div class="image4-3">
										<a href="/categorias/xiaomi"><img src="/images/Logo/miLogo.png" alt="logo da xiaomi"></a>
									</div>
								</div>

						</div>
					</div>

        </main>

        <%- include('./partials/footer') %>
    </div>
</body>
</html>