<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="/images/Logo.png">
    <link rel="stylesheet" href="/stylesheets/categorias.css">
</head>
<body>
    <div>
        <%- include('./partials/header') %>

        <main>

					<div class="container1-1">

						<div class="categorias1-2">
							<p>Categorias</p>
						</div>

						<div class="categorias2-2">
							<div class="marca1">
								<p>Samsung</p>
							</div>
							<div class="marca2">
								<p>Apple</p>
							</div>
							<div class="marca3">
								<p>Motorola</p>
							</div>
							<div class="marca4">
								<p>Xiaomi</p>
							</div>
						</div>

					</div>

					<div class="container2-1">
						<div class="imagesPhones-2">
							
							<div class="produto1-2">
								<div class="imagem1-3">
									<img src="/images/phones/S22ULTRA.png" alt="Galaxy S22 Ultra Samsung">
								</div>
								<p>S22 Ultra 256GB</p>
								<p>R$ 8.550,00</p>
							</div>

							<div class="produto1-2">
								<div class="imagem1-3">
									<img src="/images/phones/S22ULTRA.png" alt="Galaxy S22 Ultra Samsung">
								</div>
								<p>S22 Ultra 256GB</p>
								<p>R$ 8.550,00</p>
							</div>

							<div class="produto1-2">
								<div class="imagem1-3">
									<img src="/images/phones/S22ULTRA.png" alt="Galaxy S22 Ultra Samsung">
								</div>
								<p>S22 Ultra 256GB</p>
								<p>R$ 8.550,00</p>
							</div>

							<div class="produto1-2">
								<div class="imagem1-3">
									<img src="/images/phones/S22ULTRA.png" alt="Galaxy S22 Ultra Samsung">
								</div>
								<p>S22 Ultra 256GB</p>
								<p>R$ 8.550,00</p>
							</div>

							<div class="produto1-2">
								<div class="imagem1-3">
									<img src="/images/phones/S22ULTRA.png" alt="Galaxy S22 Ultra Samsung">
								</div>
								<p>S22 Ultra 256GB</p>
								<p>R$ 8.550,00</p>
							</div>

							<div class="produto1-2">
								<div class="imagem1-3">
									<img src="/images/phones/S22ULTRA.png" alt="Galaxy S22 Ultra Samsung">
								</div>
								<p>S22 Ultra 256GB</p>
								<p>R$ 8.550,00</p>
							</div>


						</div>
					</div>

        </main>

        <%- include('./partials/footer') %>
    </div>
</body>
</html>