<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/stylesheets/error.css">
  <link rel="icon" href="/images/Logo.png">
  <title>Página não encontrada</title>
</head>
<body>
  
  <%- include('./partials/header') %>

  <main>
    <h1>Página não encontrada!</h1>
    <h2>A página não foi encontrada, mas se quiser comprar um</h2> 
    <a class="botaoProduto" href="/categorias"><h2>produto</h2></a> 
  </main>

  <%- include('./partials/footer') %>

</body>
</html>