<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="/images/Logo.png">
	<link rel="stylesheet" href="/stylesheets/home.css">

	<title>Phone-9</title>
</head>

<body>
	<div class="container">
		<%- include('./partials/header') %>
			<main>
				<div class="slide">
					<div class="slides">

						<div id="previous" class="btn">
							<img class="left" src="/images/arrows/arrowLeft/arrowLeft2.png">
						</div>
						<div id="next" class="btn">
							<img class="right" src="/images/arrows/arrowRight/arrowRight2.png">
						</div>

						<div class="phones">
							<div id="first" class="image">
								<a href="/produto">
									<img src="/images/phones/samsung/S22ULTRA.png">
								</a>
							</div>
							<div class="image">
								<img src="/images/phones/apple/Mini/Preto/FrontBack.png">
							</div>
							<div class="image">
								<img src="/images/phones/motorola/oie_PIVPDqQWnvAs.png">
							</div>
							<div class="image">
								<img src="/images/phones/xiaomi/oie_BgFGycRRzvZ2.png">
							</div>
							<div class="image">
								<img src="/images/phones/samsung/S22PLUS.png">
							</div>
						</div>
					</div>
					<div class="balls">
					</div>

				</div>
			</main>
			<%- include('./partials/footer') %>
				</divcla>
</body>
<script src="/javascripts/home.js"></script>
</html>