<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="/images/Logo.png">
	<link rel="stylesheet" href="/stylesheets/home.css">

	<title>Phone-9</title>
</head>

<body>
	<div class="container">
		<%- include('./partials/header') %>
			<main>
				<div class="slide">
					<div class="slides">

						<div id="previous" class="btn">
							<img class="left" src="/images/arrows/arrowLeft/arrowLeft2.png">
						</div>
						<div id="next" class="btn">
							<img class="right" src="/images/arrows/arrowRight/arrowRight2.png">
						</div>

						<div class="phones">
							<div id="first" class="image">
								<a href="/s22UltraVinho">
									<img src="/images/phones/samsung/Ultra/Vinho/FrontBack.png">
								</a>
							</div>
							<div class="image">
								<a href="/iphone13MiniPreto"><img src="/images/phones/apple/Mini/Preto/FrontBack.png"></a>
							</div>
							<div class="image">
								<a href="/motorolaEdge30ProAzul">
									<img src="/images/phones/motorola/oie_PIVPDqQWnvAs.png">
								</a>
							</div>
							<div class="image">
								<a href="/xiaomiMi11Cinza">
									<img src="/images/phones/xiaomi/oie_BgFGycRRzvZ2.png">
								</a>
							</div>
							<div class="image"style="display: flex; align-items: center; justify-content: center; flex-direction: column; ">
								<a href="/s22Preto"><img src="/images/phones/samsung/Front.webp"></a>
								<p style="margin-right: 20vw; font-size: 1.3vw; font-weight: bold;">S22</p>
							</div>

						</div>
					</div>
					<div class="balls">
					</div>

				</div>
			</main>
			<%- include('./partials/footer') %>
				</divcla>
</body>
<script src="/javascripts/home.js"></script>

</html>