<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/iphone13MiniAzul.css">

  <link rel="icon" href="/images/Logo.png">
  <title>Phone-9</title>


<body>
  <%- include('./partials/header') %>
    <main>

      <div class="produtos-1">

        <div class="produtosGrid-2">
          <div class="produto-3">

            <div class="produto-4">

              <div class="produtoImagem-5">
                <img src="/images/phones/apple/Mini/Azul/FrontBack.png" class="produtoImagem-6" src=""
                  alt="S20 Ultra Front, Banck and Pen">
              </div>

              <div class="produtoFotos-5">

                <div class="arrowLeft-6">
                  <img src="/images/arrows/arrowLeft/arrowLeft2.png" alt="arrow Left">
                </div>

                <div class="phonesGrid-6">
                  <div class="imagem1-7">
                    <img src="/images/phones/apple/Mini/Azul/Front.png" alt="Iphone 13 Mini BackFront">
                  </div>

                  <div class="imagem2-7">
                    <img src="/images/phones/apple/Mini/Azul/Edge.png" alt="Iphone 13 Mini Edge">
                  </div>

                  <div class="imagem3-7">
                    <img src="/images/phones/apple/Mini/Azul/Back.png" alt="Iphone 13 Mini Back">
                  </div>

                </div>

                <div class="arrowRight-6">
                  <img src="/images/arrows/arrowRight/arrowRight2.png" alt="arrow Right">
                </div>

              </div>

            </div>

            <div class="produtoApresentacao-4">

              <div class="descricaoProduto-5">
                <p>Apple Smartphone iPhone 13 Mini 6gb/256gb 5.4 Azul</p>
              </div>

              <div class="linha-5"></div>

              <div class="corProduto-5">

                <div class="corParagrafo-6">
                  <p><b>COR:</b></p>
                </div>

                <div class="coresProduto-6">

                  <a href="/iphone13MiniPreto"><div class="preto-7"></div></a>

                  <a href="/iphone13MiniBranco"><div class="branco-7"></div></a>

                  <a href="/iphone13MiniRosa"><div class="rosa-7"></div></a>

                  <div class="azul-7"></div>

                </div>

              </div>

            </div>

          </div>

          <div class="linha-3"></div>

          <div class="comprar-3">

            <div class="preco-4">

              <div class="preco-5">
                <p>R$ 8.550,00</p>
              </div>

              <div class="parcelas-5">
                <p>Em até 12x sem juros no <b>cartão de crédito</b></p>
              </div>

            </div>

            <div class="frete-4">

              <div class="paragrafoFrete-5">
                <p>Calcular frete e prazo</p>
              </div>

              <div class="digiteCep-5">
                <form class="form-6" action="">
                  <label for="CEP">
                    <p class="cep-7">CEP:</p>
                    <input class="cepInput-7" type="tel" name="CEP" id="CEP" pattern="[0-9]{5}-[0-9]{2}"
                      placeholder="00000-00" />
                  </label>
                  <input class="OK-7" type="submit" value="OK" />
                </form>
              </div>

            </div>

            <div class="comprar-4">

              <div class="alertaCompra-5">
                <p>Corra! Temos menos de 10 no nosso</p>
                <p> <b>estoque</b> </p>
              </div>

              <div class="comprar-5">
                <a href="/carrinho"><button class="comprarBtn-6">Comprar</button></a>

              </div>

              <div class="entregue-5">
                <p>Este produto é vendio e entregue pela<br>Phone-9</p>
              </div>

            </div>

          </div>
        </div>

        <div class="acessorios-2">
          <p>Acessorios</p>
        </div>

        <div class="acessoriosGrade-2">

          <div class="acessorio1-3">

            <div class="acessorio1Foto-4">

              <p class="acessorio1Descricao-5">
                Suporte de Mesa para Celular Ajustável Articulado Tablet Smartphone (Preto) R$21,00
              </p>

              <img src="/images/acessorios/acessorio1Suporte-5.png" alt="">

            </div>

            <div class="acessorio1Carrinho-4">
              <button class="acessorio1ParagrafoAdicionar-5">Adiconar ao Carrinho</button>
            </div>


          </div>

          <div class="acessorio2-3">

            <div class="acessorio2Foto-4">

              <p class="acessorio2Descricao-5">
                SAMSUNG Fone de Ouvido Wireless Galaxy Buds Pro Preto R$747,11
              </p>

              <img src="/images/acessorios/acessorio2Buds-5.png" alt="">

            </div>

            <div class="acessorio2Carrinho-4">
              <button class="acessorio2ParagrafoAdicionar-5">Adiconar ao Carrinho</button>
            </div>

          </div>

          <div class="acessorio3-3">

            <div class="acessorio3Foto-4">

              <p class="acessorio3Descricao-5">Capa de Silicone Beagá iPhone 13 mini, iPlace (Preto) R$ 179,10</p>

              <img src="/images/acessorios/acessorio5CaseIphone-5.png" alt="">

            </div>

            <div class="acessorio3Carrinho-4">
              <button class="acessorio3ParagrafoAdicionar-5">Adiconar ao Carrinho</button>
            </div>

          </div>

          <div class="acessorio4-3">

            <div class="acessorio4Foto-4">

              <p class="acessorio4Descricao-5">Carregador Rápido Sem Fio Slim Preto R$229,00</p>

              <img src="/images/acessorios/acessorio4Charger-5.png" alt="">

            </div>

            <div class="acessorio4Carrinho-4">

              <button class="acessorio4ParagrafoAdicionar-5">Adicionar ao Carrinho</button>

            </div>

          </div>

        </div>

      </div>

      <div class="propaganda-1">
        <h3><b>Informações do produto</b></h3>

        <p>

          O <b>Seu novo superpoder.</b> O iPhone 13 tem uma tela superbrilhante projetada para ser resistente. Faz
          vídeos com qualidade de cinema. Seu chip tem uma velocidade impressionante. E ganhou um aumento notável em
          bateria. Sua <b>tela OLED brilha em tudo</b>. É fácil de ver mesmo sob à luz do sol, economiza energia, foi
          pensada para ser forte.

        </p><br>

        <p>

        <h2>O iPhone faz curso de <b>cinema.</b> E você é quem dá aula de direção.</h1><br>
          <p>Este modo cria lindos efeitos de profundidade e transições de foco em seus vídeos automaticamente. Suas
            histórias alcançam um outro nível de narrativa.</p>

          </p><br>

          <p>
            Além disso, ele tem:
          </p>

          <br>

          <ul>
            <li>Resistência à água</li>
            <li>Tela Super Retina XDR</li>
            <li>Alumínio <b>aeroespacial</b></li>
          </ul>
      </div>

      <div class="comentarios-1">

        <div class="comentarios-2">

          <div class="paragrafoComentario-3">
            <img src="/images/star.png" alt="star">
            <p>Comentários e avaliações</p>
          </div>

        </div>

        <div class="notaProduto-2">

          <p class="nota-3">4.0</p>
          <div class="comentariosGrid-3">
            <div class="stars-4">
              <img src="/images/star.png" alt="star">
              <img src="/images/star.png" alt="star">
              <img src="/images/star.png" alt="star">
              <img src="/images/star.png" alt="star">
              <img src="/images/emptyStar.png" alt="emptyStar">
            </div>
            <p class="comentarios-4">(Comentários e avaliações)</p>
          </div>

        </div>

        <div class="clienteComentarios-2">

          <div class="comentario1-3">

            <div class="comentario1AvaliacaoGrade-4">

              <div class="comentario1AvaliacaoNome-5">
                <p>Gislaine Souza</p>
              </div>

              <div class="comentario1AvaliacaoEstrela-5">
                <img src="/images/star.png" alt="star">
                <img src="/images/star.png" alt="star">
                <img src="/images/star.png" alt="star">
                <img src="/images/star.png" alt="star">
                <img src="/images/emptyStar.png" alt="emptyStar">
              </div>

            </div>

            <div class="comentario1AvaliacaoData-5">
              <p>05/05/2022</p>
            </div>



            <div class="comentario1ComentarioAqui-4">
              <p>Aproveitei uma das promoções da Worten e comprei este equipamento.
                Não estou nada arrependido. Tendo em conta que o tamanho do telemovel é praticamente a dimensão total do
                ecrã, para mim é perfeito. Tenho tudo o que preciso no bolso.</p>
            </div>

          </div>

          <div class="comentario2-3">

            <div class="comentario2AvaliacaoGrade-4">

              <div class="comentario1AvaliacaoNome-5">
                <p>Pablo Pinheiro</p>
              </div>

              <div class="comentario2AvaliacaoEstrela-5">
                <img src="/images/star.png" alt="star">
                <img src="/images/star.png" alt="star">
                <img src="/images/star.png" alt="star">
                <img src="/images/star.png" alt="star">
                <img src="/images/star.png" alt="star">
              </div>

            </div>

            <div class="comentario2AvaliacaoData-5">
              <p>01/03/2022</p>
            </div>



            <div class="comentario2ComentarioAqui-4">
              <p>Sempre gostei de ecrãs pequenos. iPhone 13 mini foi sem dúvidas o melhor que algumas vez tive. As vezes
                tenho o no bolso detrás e nem o sinto. É leve, design lindo elegante. A bateria é de louvar.
                É a 1a vez que uso um iPhone, não pensei que fosse tão fácil de me habituar ao novo sistema. Muito boa
                compra!</p>
            </div>

          </div>

          <div class="comentario3-3">
            <div class="comentario3AvaliacaoGrade-4">

              <div class="comentario3AvaliacaoNome-5">
                <p>Beatriz Carvalho</p>
              </div>

              <div class="comentario3AvaliacaoEstrela-5">
                <img src="/images/star.png" alt="star">
                <img src="/images/star.png" alt="star">
                <img src="/images/star.png" alt="star">
                <img src="/images/emptyStar.png" alt="emptyStar">
                <img src="/images/emptyStar.png" alt="emptyStar">
              </div>

            </div>

            <div class="comentario3AvaliacaoData-5">
              <p>20/03/2022</p>
            </div>

            <div class="comentario3ComentarioAqui-4">
              <p>Esteja avisado, passar do tamanho normal para o mini será um ajuste, especialmente se você for uma
                pessoa mais "vintage" como eu, que luta com dedos gordos e texto de qualquer maneira! Mas eu amo a
                facilidade com que isso desliza no bolso ou cabe na minha mão.<br><br>

                Meu grande problema, porém, é como a Apple voltou às horríveis bordas quadradas. Já estivemos aqui
                antes... desde os primeiros dias de bordas arredondadas mais planas, até a primeira rodada com os lados
                quadrados pesados, de volta à elegância do arredondado aerodinâmico e agora... de volta (de novo) ao
                miserável lados desconfortáveis.<br><br>

                Por que, Apple, por quê?!?! Pelo menos forneça uma alternativa para as próximas atualizações para que as
                pessoas possam escolher sua forma preferida! </p>
            </div>
          </div>



        </div>

      </div>

    </main>
    <%- include('./partials/footer') %>

</body>
<script src="/javascripts/iphone13MiniAzul.js">

</script>

</html>