<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="/images/Logo.png">
  <link rel="stylesheet" href="/stylesheets/motorola.css">
	<title>Smartphones Motorola</title>
</head>
<body>
    <div>
        <%- include('./partials/header') %>

        <main>

					<div class="container1-1">

						<div class="categorias1-2">
							<a href="/categorias"><b>Categorias</b></a>
						</div>

						<div class="categorias2-2">
							<div class="marca1">
								<a href="/categorias/samsung">Samsung</a>
							</div>
							<div class="marca2">
								<a href="/categorias/apple">Apple</a>
							</div>
							<div class="marca3">
								<a href="/categorias/motorola"><b>Motorola</b></a>
							</div>
							<div class="marca4">
								<a href="/categorias/xiaomi">Xiaomi</a>
							</div>
						</div>

					</div>

					<div class="container2-1">
						<div class="logoMotorola-2">
							<img src="/images/Logo/motorola.png" alt="logo da motorola">
						</div>

						<div class="imagesPhones-2">
							

							<div class="produto1-2">
								<div class="imagem1-3">
									<img src="/images/phones/motorola/Motorola Edge 30 Pro.png" alt="Motorola Edge 30 Pro.png">
								</div>
								<p>Motorola Edge 30 Pro</p>
								<p>R$ 5.399,10</p>
							</div>

							<div class="produto1-2">
								<div class="imagem1-3">
									<img src="/images/phones/motorola/Motorola Edge 30.png" alt="Motorola Edge 20 Pro.png">
								</div>
								<p>Motorola Edge 30</p>
								<p>R$ 3.599,10</p>
							</div>

							<div class="produto1-2">
								<div class="imagem1-3">
									<img src="/images/phones/motorola/Motorola Edge 20 Pro.png" alt="Mtorola Edge 20 Pro">
								</div>
								<p>Motorola Edge 20</p>
								<p>R$ 3.149,10</p>
							</div>

						</div>
					</div>

        </main>

        <%- include('./partials/footer') %>
    </div>
</body>
</html>