<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="/images/Logo.png">
  <link rel="stylesheet" href="/stylesheets/samsung.css">
	<title>Smartphones Samsung</title>
</head>
<body>
    <div>
        <%- include('./partials/header') %>

        <main>

					<div class="container1-1">

						<div class="categorias1-2">
							<a href="/categorias"><b>Categorias</b></a>
						</div>

						<div class="categorias2-2">
							<div class="marca1">
								<a href="/categorias/samsung"><b>Samsung</b></a>
							</div>
							<div class="marca2">
								<a href="/categorias/apple"><p>Apple</p></a>
							</div>
							<div class="marca3">
								<a href="/categorias/motorola">Motorola</a>
							</div>
							<div class="marca4">
								<a href="/categorias/xiaomi">Xiaomi</a>
							</div>
						</div>

					</div>

					<div class="container2-1">
						<div class="logoSamsung-2">
							<img src="/images/Logo/samsungLogo.png" alt="logo da samsung">
						</div>

						<div class="imagesPhones-2">
							
							<div class="produto1-2">
								<div class="imagem1-3">
									<a href="/s22UltraPreto"><img src="/images/phones/samsung/Ultra/Preto/FrontBack.png" alt="Galaxy S22 Ultra Samsung"></a>
								</div>
								<p style="font-family: Arial;">S22 Ultra 256GB</p>
								<p style="font-family: Arial;">R$ 8.550,00</p>
							</div>

							<div class="produto1-2">
								<div class="imagem1-3">
									<a href="/s22PlusPreto"><img src="/images/phones/samsung/Plus/Preto/FrontBack.webp" alt="Galaxy S22 Ultra Samsung"></a>
								</div>
								<p style="font-family: Arial;">S22 PLUS</p>
								<p  style="font-family: Arial;">R$ 6.299,10</p>
							</div>

							<div class="produto1-2">
								<div class="imagem1-3">
									<a href="/s22Preto"><img src="/images/phones/samsung/FrontBack.webp" alt="Galaxy S22 Ultra Samsung"></a>
								</div>
								<p  style="font-family: Arial;">S22 5G 128GB</p>
								<p  style="font-family: Arial;">R$ 5.399,10</p>
							</div>

						</div>
					</div>

        </main>

        <%- include('./partials/footer') %>
    </div>
</body>
</html>