<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="/images/Logo.png">
    <link rel="stylesheet" href="/stylesheets/xiaomi.css">
</head>
<body>
    <div>
        <%- include('./partials/header') %>

        <main>

					<div class="container1-1">

						<div class="categorias1-2">
							<a href="/categorias"><b>Categorias</b></a>
						</div>

						<div class="categorias2-2">
							<div class="marca1">
								<a href="/categorias/samsung">Samsung</a>
							</div>
							<div class="marca2">
								<a href="/categorias/apple">Apple</a>
							</div>
							<div class="marca3">
								<a href="/categorias/motorola">Motorola</a>
							</div>
							<div class="marca4">
								<a href="/categorias/xiaomi"><b>Xiaomi</b></a>
							</div>
						</div>

					</div>

					<div class="container2-1">
						<div class="logoXiaomi-2">
							<img src="/images/Logo/miLogo.png" alt="logo da xiaomi">
						</div>

						<div class="imagesPhones-2">
							

							<div class="produto1-2">
								<div class="imagem1-3">
									<img src="/images/phones/xiaomi/Xiaomi Mi 11.png " alt="Xiaomi Mi 11">
								</div>
								<p>Xiaomi Mi 11 5G 256GB</p>
								<p>R$ 9.199,99</p>
							</div>

							<div class="produto1-2">
								<div class="imagem1-3">
									<img src="/images/phones/xiaomi/Xiaomi 12 256.png" alt="Xiaomi 12">
								</div>
								<p>Xiaomi 12 256GB</p>
								<p>R$ 8.739,99</p>
							</div>

							<div class="produto1-2">
								<div class="imagem1-3">
									<img src="/images/phones/xiaomi/Xiaomi Redmi Note 11.png" alt="Xiaomi Redmi Note 11">
								</div>
								<p>Xiaomi Redmi Note 11 5G</p>
								<p> 128GB</p>
								<p>R$ 3.679,99</p>
							</div>

						</div>
					</div>

        </main>

        <%- include('./partials/footer') %>
    </div>
</body>
</html>