* {
  margin: 0;
  border: 0;
  padding: 0;
  /* border: 1px solid red; */
}

:root {
  --color0: rgb(223, 219, 219);
  --color1: #919090;
  --color2: #2f578f;
  --color3: #2d6181;
  --color4: #FFFFFF;
  --color5: #000000;
}

main{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color4);
}

.registro-1{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  margin-top: 4vw;
  margin-bottom: 4vw;
  height: auto;
  background-color: var(--color3);
  width: 85vw;
}

.formCadastro-2{
  margin-right: 0.5vw;
  margin-left: 0.5vw;
  margin-top: 0.5vw;
  background-color: var(--color0);
  width: auto;
  height: auto;
  margin-bottom: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.formCadastro-2 .cadastroForm{
  margin-bottom: 4vw ;
  margin-right: 10vw ;
  margin-left: 10vw;
  font-size: 1.3vw;
  background-color: var(--color0);
  width: 20vw;
  height: 5vw;

}

.formCadastro-2 
input, select{
  outline: none;
  width: 20vw;
  height: 2.5vw;
  font-size: 1.3vw;
  border: 0.2vw solid var(--color3);
}

.h1-3{
  font-size: 2vw;
  user-select: none;
  margin: 0.5vw;
  margin-bottom: 2vw;
  background-color: var(--color0);
  width: 100%;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.h1-3 img{
  width: 3vw;
}

.h1-4{
  height: auto;
}

.finalizarBtn-3{
  margin-bottom: 2vw;
  background-color: var(--color3);
  color: var(--color4);
  width: auto;
  padding: 1vw;
  height: auto;
  font-size: 1.5vw;
  border-radius: 0.3vw;
  user-select: none;
  cursor: pointer;
  transition: all 0.4s;
}

.finalizarBtn-3:hover{
  transform: scale(1.1);
  background-color: #376063;
}





