* {
  margin: 0;
  border: 0;
  padding: 0;
}

:root {
  --color0: rgb(223, 219, 219);
  --color1: #919090;
  --color2: #253031;
  --color3: #315659;
  --color4: #FFFFFF;
  --color5: #000000;
}

main{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color4);
}

.registro-1{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  margin-top: 4vw;
  margin-bottom: 4vw;
  height: auto;
  background-color: var(--color3);
  width: 85vw;
}

.caixa1Registro-2,
.caixa2Registro-2
{
  margin: 0.5vw;
  background-color: var(--color0);
  width: 84vw;
  height: 43vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.caixa2Registro-2{
  margin-top: 0;
}

.h1-3{
  font-size: 2vw;
  user-select: none;
  margin: 0.5vw;
  margin-bottom: 0;
  background-color: var(--color0);
  width: auto;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.h1-4{
  height: auto;
}

.formCadastro-3{
  border: 1px solid red;
  background-color: var(--color0);
  width: 83vw;
  height: 34vw;
  margin-bottom: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.formCadastro-3 div{
  margin-right: 10vw ;
  margin-left: 10vw;
  font-size: 1.3vw
}

.formCadastro-3 
input, select{
  outline: none;
  width: 20vw;
  height: 2.5vw;
  font-size: 1.3vw;
  border: 0.2vw solid var(--color3);
}

.email-4{
  background-color: var(--color0);
  width: 20vw;
  height: 5vw;
}

.nomeCadastro-4{
  background-color: var(--color0);
  width: 20vw;
  height: 5vw;

}

.generoCadastro-4{
  background-color: var(--color0);
  width: 20vw;
  height: 5vw;
}

.cpfCadastro-4{
  background-color: var(--color0);
  width: 20vw;
  height: 5vw;
}

.celularCadastro-4{
  background-color: var(--color0);
  width: 20vw;
  height: 5vw;
}

.telefoneCadastro-4{
  background-color: var(--color0);
  width: 20vw;
  height: 5vw;
}

.dataCadastro-4{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color0);
  width: 20vw;
  height: 5vw;
}

.endereco-4{
  width: 3vw;
}


