*{
    padding: 0%;
    margin: 0%;
}

:root {
    --color0: rgb(223, 219, 219);
    --color1: #919090;
    --color2: #253031;
    --color3: #315659;
    --color4: #FFFFFF;
    --color5: #000000;
}

main {
    height: 100vh;
    background-color: #FEF445;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.caixa-1{
	background-color: #CEE741;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
	width: 98vw;
	height: 98vh;
}

.h1-2{
	width: auto;
	height: auto;
	background-color: #12CDD4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.produtos-2{
	background-color: #12CDD4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
	width: 90vw;
	height: 80vh;
}

.produtoInfo-3{
	width: 60.5vw;
	height: 78vh;
	background-color: #2D9BF0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.produto1-4,
.produto2-4
{
	margin-bottom: 0.5vw;
	width: 48vw;
	height: auto;
	background-color: #2541B2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.produto1Info-5,
.produto2Info-5
{
  margin-top: 0.5vw;
  font-size: 1.2vw;
	width: 47vw;
	height: 2vw;
	background-color: #03256C;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
	margin-bottom: 0.5vw;
}

.produto1PrecoTxt-6,
.produto2PrecoTxt-6
{
  margin-right: 2vw;
  color: var(--color4);
  background-color: #1A1A1A;
  width: 6vw;
  height: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.produto1QuantidadeTxt-6,
.produto2QuantidadeTxt-6
{
  margin-right: 2vw;
  color: var(--color4);
  background-color: #1A1A1A;
  width: 6vw;
  height: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.produto1SubtotalTxt-6,
.produto2SubtotalTxt-6
{
  color: var(--color4);
  background-color: #1A1A1A;
  width: 6vw;
  height: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.produto1InfoAndConfig-5,
.produto2InfoAndConfig-5
{
	width: 47vw;
	height: auto;
	background-color: #03256C;
	display: flex;
	align-items: center;
	justify-content: flex-end;
  flex-direction: row;
  margin-bottom: 0.5vw;
}

.produto1Image-6,
.produto2Image-6
{
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  background-color: var(--color4);
  width: 10vw;
  height: 8vw;
}

.produto1Description-6,
.produto2Description-6
{

}

.produto1Preco-6,
.produto2Preco-6
{

}

.produto1QuantidadeChange-6,
.produto2QuantidadeChange-6
{

}

.produto1Subtotal-6,
.produto2Subtotal-6
{

}

.produto1Delete-5,
.produto2Delete-5
{

}

.finalizar-3{
	width: 28vw ; 
	height: 78vh;
	background-color: #2D9BF0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}











