*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

:root {
    --color1: #919090;
    --color2: #253031;
    --color3: #315659;
    --color4: #FFFFFF;
    --color5: #000000;
}

.container{
      width:100vw;
      height: 100vh;
      background-color: var(--color4);
      display: flex;
      justify-content: center;
      align-items: center;
}

.cinza{
      width: 80vw;
      height: auto;
      background-color: rgb(223, 219, 219);
      border: 0.3vw solid rgb(63, 62, 62);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5vw;
      
}

.login{
    margin-top: 4vw;
    margin-bottom: 4vw;
    height: auto ;
    width: 40vw ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.teste {
    height: auto;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.entrar p{
      margin-bottom: 2vh;
      font-size: 4vw;
      color: var(--color2);
      user-select: none;
}

.foto {
    margin-bottom: 1vw;
    margin-top: 1vw;
    width: 8vw;
    height: 8vw;
    background-color: var(--color3);
    border-radius: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto img{
    height: 6vw;
}

.cad p{
    font-size: 1.5vw;
}

.cad{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botao{
    margin-top: 1vh;
    margin-bottom: 2vh;
    border: 0.2vw solid var(--color3); 
    color: rgb(0, 0, 0);
    padding: 6px 12px;
    border-radius: 4vh;
    background-color: var(--color1);
    cursor: pointer;
} 

.botao p{
    font-size: 1.2vw;
}

.email,
.senha
{
    margin-top: 1vh;
    border-radius: 1vh;
    height: 3vw;
    width: 18vw;
    border: 0.3vw solid var(--color3);
    font-size: 1.8vw;
}


