<<<<<<< HEAD

=======
*{
    padding: 0%;
    margin: 0%;
}

:root {
    --color1: #919090;
    --color2: #253031;
    --color3: #315659;
    --color4: #FFFFFF;
    --color5: #000000;
}
>>>>>>> c3d667ea2498fddb195ee8a035367345b325a317

.rodape{
    display: flex;
    background-color: var(--color3);
    justify-content: space-around;
}

.icon{
    display: flex;
    align-items: center;
}

.icon img {
    width: 06vw;
}

.footerGrid {
    width: 35vw;
    display: flex;
    justify-content: space-around;
    margin-left: 20vw;
    display: flex;
    align-items: center;

}

.info {
    background-color: var(--color1); 
    color: var(--color4);
    border: 2px solid var(--color2);
    width: 20vw;
    height: 9vh;
    font-size: 5vh;
    border-radius: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato{
    background-color: var(--color1);
    color: var(--color4);
    border: 2px solid var(--color2);
    width: 6vw ;
    height: 7vh;
    font-size: 3.5vh;
    border-radius: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redeSocial{ 
    justify-content: space-around;
    margin: 10px;
    display: flex; 
    width: 15%;
    height: 10vh;
    margin-right: 4%;
}

.redeSocial img{
    margin-top: 1vw;
}

.facebook{
    width: 05vh;
    height: 05vh;
    cursor: pointer;
}
.instagram{
    width: 05vh;
    height: 05vh;
    cursor: pointer;
}
.youtube{
    width: 05vh;
    height: 05vh;
    cursor: pointer;
}
.whatsapp{
    width: 05vh;
    height: 05vh;
    cursor: pointer;
}