@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Open+Sans:wght@300;400;600;800&family=Raleway:wght@100;300;400;600;800&family=Ropa+Sans&display=swap');

@font-face {
  font-family: 'Azonix';
  src: url('../fonts/Azonix.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

*{
	margin: 0;
  padding: 0;
  font-family: Raleway, Arial, sans-serif ;
}

:root {
  --color0: rgb(240, 240, 240);
  --color1: gray;
  --color2: #1e7efc;
  --color3: #0f71f1;
  --color4: #FFFFFF;
  --color5: #000000;
}

.rodape{
  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color3);
  justify-content: space-around;
}

.icon{
  display: flex;
  align-items: center;
}

.icon img {
  width: 06vw;
  cursor: pointer;
}

.direitos{
  white-space: nowrap;
  position: absolute;
  margin-right: 55vw;
  color: var(--color4);
  font-size: 1.3vw;
}

.footerGrid {
  width: 35vw;
  display: flex;
  justify-content: space-around;
  margin-left: 20vw;
  display: flex;
  align-items: center;
  font-weight: 300;
}

.categorias {
  background-color: var(--color4); 
  color: var(--color3);
  border: none;
  width: 20vw;
  height: 4.5vw;
  font-size: 2.5vw;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.categorias a{
  text-decoration: none;
  color: var(--color3);
  transition: all 0.5s;
}

.categorias a:hover{
  text-decoration: underline;
}

.categorias-1{
  font-weight: 600;
}

.contato{
  padding: 0.5vw;
  background-color: var(--color4);
  color: var(--color3);
  border: none;
  width: 6vw ;
  height: auto;
  font-size: 1.25vw;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  font-family: Raleway;
  font-weight: 600;
}

.contato p{
  font-size: 1.5vw;
}

.redeSocial{ 
  justify-content: space-around;
  margin: 0.5vw;
  display: flex; 
  width: 15%;
  height: 5vw;
  margin-right: 4%;
  margin-top: 2.5vw;   
}

.redeSocial img{
  width: 2.3vw;
}

.facebook{
  width: 2.5vw;
  height: 2.5vw;
  cursor: pointer;
}
.instagram{
  width: 2.5vw;
  height: 2.5vw;
  cursor: pointer;
}
.youtube{
  width: 2.5vw;
  height: 2.5vw;
  cursor: pointer;
}
.whatsapp{
  width: 2.5vw;
  height: 2.5vw;
  cursor: pointer;
}