*{
    padding: 0%;
    margin: 0%;
    /* border: 1px solid red; */
}

:root {
    --color0: rgb(223, 219, 219);
    --color1: #919090;
    --color2: #2f578f;
    --color3: #315659;
    --color4: #FFFFFF;
    --color5: #000000;
  }

.headerContainer{
    display: flex;
    align-items: center;
    background-color: var(--color3);
    justify-content: space-around;
}

.logo img{
    width: 05vw;
    cursor: pointer;
}

.nomeMarca{
    color: aliceblue;
    display: flex;
    align-items: center;
    font-size: 2.5vw;
    user-select: none;
}

.pesquise{
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pesquisa{
    width: 95%;
    height: 1.5vw;
    border: 0.2vw solid var(--color1);
    border-radius: 1vw;
    position: relative;
    font-size: 1vw;
    transition: all 0.4s;
}

.pesquisa:focus{
    color: black;
    outline: none;
    border: 0.2vw solid var(--color0);
}

.lupa{
    position: absolute;
    width: 1.5vw;
    margin-left: 15.5vw;
}

.usuario img{
    width: 03vw;
    cursor: pointer;
}

.cadastro{
    background-color: var(--color3);
    margin: 10px;
    width: 13%;
    height: 9vh;
    border: 0px solid var(--color2);
    border-radius: 10px;
    font-size: 1.3vw;
    color: var(--color4);
}

.login1Entrar{
    color: var(--color4);
    text-decoration: none;
    transition: all 0.4s;
}

.login1Entrar:hover{
    text-decoration: underline;
}

.cadastrar{
    color: var(--color4);
    text-decoration: none;
    transition: all 0.4s;
}

.cadastrar:hover{
    text-decoration: underline;
}

.compra img{
    width: 03vw;
    cursor: pointer;
}

