* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root{
  --color0: rgb(223, 219, 219);
  --color1: #919090;
  --color2: #2f578f;
  --color3: #2d6181;
  --color4: #FFFFFF;
  --color5: #000000;
}