@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Open+Sans:wght@300;400;600;800&family=Raleway:wght@100;300;400;600;800&family=Ropa+Sans&display=swap');

@font-face {
  font-family: 'Azonix';
  src: url('../fonts/Azonix.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --color0: rgb(223, 219, 219);
  --color1: gray;
  --color2: #1e7efc;
  --color3: #0f71f1;
  --color4: #FFFFFF;
  --color5: #000000;
}

main {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.container1-2 {
  left: 0;
  height: 98vh;
  background-color: var(--color0);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5vw;
}

.meuPerfil-3,
.meuCadastro-3,
.meusPedidos-3 {
  font-size: 1.3vw;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  margin-bottom: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw;
  width: 8vw;
  background-color: var(--color4);
  transition: all 0.5s;
}

.meuPerfil-3:hover,
.meuCadastro-3:hover,
.meusPedidos-3:hover {
  text-decoration: underline;
}

.meuPerfil-3 a,
.meuCadastro-3 a,
.meusPedidos-3 a {
  text-decoration: none;
  color: var(--color5);
}

.container2-2 {
  height: 98vh;
  width: 86vw;
  padding: 0.5vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.topPedidos-3 {
  font-size: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0.5vw;
}

.fotoPerfil-4 {
  margin-top: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color2);
  width: 6vw;
  height: 6vw;
  margin-bottom: 0.5vw;
  border-radius: 6vw;
}

.fotoPerfil-4 img {
  width: 4vw;
}

.perfil-5 {
  text-decoration: none;
  color: black;
  transition: all 0.4s;
}

.perfil-5:hover {
  text-decoration: underline;
}

.pedidosInfo-3 {
  overflow-y: scroll;
  background-color: var(--color0);
}

.pedidosInfo-3::-webkit-scrollbar {
  width: 1vw;
  border: none;
}

.pedidosInfo-3::-webkit-scrollbar-thumb {
  background-color: var(--color3);
  border-bottom: 0.3vw solid var(--color4);
  border-top: 0.3vw solid var(--color4);
  border-radius: 1vw;
}

.pedidoDetalhes-4 {
  margin-top: 2vw;
  padding: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 1.3vw;
  margin-bottom: 0.5vw;
}

.pedidoDetalhes-4 div {
  background-color: var(--color0);
  margin-right: 2vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: auto;
}


.pedidoDetalhes-4 .nomeInfo-6 {
  margin-bottom: 1vw;
}

.detalhesPedido-5 {
  margin-right: 2vw;
  margin-left: 2vw;
}

.botaoDetalhes-6 {
  background-color: var(--color0);
  border: none;
  cursor: pointer;
  user-select: none;
  font-size: 1.3vw;
  text-decoration: underline;
}

.numeroPedido-5 p,
.dataPedido-5 p,
.dataPedido-5 p {
  font-family: sans-serif;
}

.maisInfos-4 {
  display: none;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  background-color: var(--color4);
  width: 55vw;
}

.maisInfos-4Flex {
  display: flex;
}

.produtoImagem-5 {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 14vw;
}

.textoImagem-6 {
  margin-bottom: 1vw;
}

.produtoImagem-5 img {
  width: 11vw;
  display: block;
}

.textoDescricao-6 {
  margin-bottom: 2vw;
}

.produtoDescricao-5 {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 30vw;
  height: 14vw;
}

.produtoDescricao-6 {
  font-family: sans-serif;
}

.produtoQuantidade-5 {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 14vw;
}

.produtoQuantidade-6 {
  margin-bottom: 2vw;
}

.quantidade-6 {
  font-size: 1.3vw;
}

.produtoTotal-5 {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 14vw;
}

.produtoTotal-6 {
  font-family: sans-serif;
  margin-bottom: 2.5vw;
}

.botaoDetalhes-6:hover .maisInfos-4 {
  display: flex;
}