*{
  padding: 0%;
  margin: 0%;
   
}

:root {
  --color1: #919090;
  --color2: #253031;
  --color3: #315659;
  --color4: #FFFFFF;
  --color5: #000000;
}

main{
  	background-color: #FEF445;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 135.5vw;
}

main div{
	margin-bottom: 1.5vh;
}

.produtos-1{
	background-color: #CEE741;
	width: 98vw;
	height: 70vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.produto-2{
	background-color: #12CDD4;
	width: 70vw;
	margin-top: 4vh;
	height: 32vw;
	border: 1px solid red;
}

.produto-3{
}

.produtoImagem-4{
}

.produtoImagem-5{
}

.produtoFotos-4{
}

.produtoApresentacao-3{
}

.descricaoProduto-4{
}

.corProduto-4{
}

.corParagrafo-5{
}

.coresProduto-5{
}

.preto-6{
}

.branco-6{
}

.vinho-6{
}

.verde-{
}

.comprar-2{
	background-color: #12CDD4;
	width: 26.5vw;
	margin-top: 4vh;
	height: 32vw;
	margin-right: 1vh;
}

.preco-3{
}

.frete-3{
}

.comprar-3{
}

.alertaCompra-4{
}

.comprar-4{
}

.entregue-4{
}

.acessorios-2{
	background-color: #12CDD4;
	width: 10vw;
	height: 3vw;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	justify-content: center;
	display: flex;
	align-items: center;
}

.acessoriosGrade-2{
	margin-left: 1.3vh ;
	background-color: #12CDD4;
	width: 90vw;
	height: 30vw;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.acessorio1-3{
	background-color: #2D9BF0;
	width: 17vw;
	height: 25vw;
}

.acessorio1Foto-4{
	background-color: #2541B2;
	margin-top: 1vh;
	margin-left: 1vh;
	margin-right: 1vh;
	width: 15vw;
	height: 17vw;
}

.acessorio1Carrinho-4{
}

.acessorio2-3{
}

.acessorio2Foto-4{
}

.acessorio2Carrinho-4{
}

.acessorio3-3{
}

.acessorio3Foto-4{
}

.acessorio3Carrinho-4{
}

.acessorio4-3{
}

.acessorio4Foto-4{
}

.acessorio4Carrinho-4{
}

.propaganda-1{
	height: 23vw;
	width: 98vw;
	background-color: #CEE741 ;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.propaganda-1 h3{
	display: flex;
	margin-left: 5vw;
}

.propaganda-1 p{
	margin-left: 4vw;
	margin-right: 4vw;
}

.comentarios-1{
	height: 40vw;
	width: 98vw;
	background-color: #CEE741 ;
	margin-bottom: 0;
}

.comentarios-2{
}

.paragrafoComentario-3{
}

.notaProduto-3{
}

.clienteComentarios-2{
}

.comentario1-3{
}

.comentario1AvaliacaoGrade4{
}

.comentario1AvaliacaoNome-5{
}

.comentario1AvaliacaoData-5{
}

.comentario1AvaliacaoEstrela-5{
}

.comentario1ComentarioAqui-4{
}

.comentario2-3{
}

.comentario2AvaliacaoGrade-4{
}

.comentario1AvaliacaoNome-5{
}

.comentario2AvaliacaoData-5{
}

.comentario2AvaliacaoEstrela-5{
}

.comentario2ComentarioAqui-4{
}

.comentario3-3{
}

.comentario3AvaliacaoGrade-4{
}

.comentario3AvaliacaoNome-5{
}

.comentario3AvaliacaoData-5{
}

.comentario3ComentarioAqui-4{
}


