*{
    padding: 0%;
    margin: 0%;
}

:root {
    --color1: #4a69bd;
    --color2: #aaa69d;
    --color3: #d1ccc0;
    --color4: #f1f1f1;
    --color5: #000;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: var(--color4);
}
.home{
    display: flex;
    background-color: var(--color3);
    justify-content: space-around;
}
.pesquisa{
    margin: 10px;
    width: 50%;
    height: 20px;
    border: 1.5px solid var(--color2);
    border-radius: 10px;
    margin-top: 4vh;
    position: relative;
}
.usuario img{
    width: 03vw;
    margin-top: 2vh;
}
.compra img{
    width: 03vw;
    margin-top: 2.5vh;
}

main {
    display: flex;
    justify-content:center;
}

.slide {
    width: 55vw;
    height: 80vh;
    overflow: hidden;
    border-radius: 4vh;
    transition: all 0.4s;
    background-color: var(--color1) ;
}

.slides {
    width: 200vw;
    display: flex;
    flex-direction: row;
}

.left {
    width: 5vh;
}

.right {
    width: 5vh;
}

.phones {
    display: flex;
    flex-direction: row;
    margin-left: 20vh;
}

.image img {
    width: 34vw;
    height: 75vh;
    margin-right: 20vw;
}

#first {
    transition: all 2s;
}

.btn {
    position: absolute;
    color: black;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 1.7em;
    margin-top: -5px;
}

.btn:hover {
    transform: scale(1.5);
}

#previous {
    top: 60%;
    left: 15%;
}

#next {
    top: 60.4%;
    right: 15%;
}

.balls {
    position: absolute;
    width: 15vw;
    display: flex;
    justify-content: center;
    margin-left: 21.5vw;
}

.balls div {
    transition: all 0.5s;
    border: 2px solid white;
    padding: 6px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
    z-index: 1;
}

.balls div:hover {
    background-color: white;
}

.imgAtual {
    transition: all 0.5s;
    background-color: white;
}

.Cadastro{
    margin: 10px;
    width: 10%;
    height: 9vh;
    border: 0.2px solid var(--color2);
    border-radius: 10px;
    font-size: 2.5vh;
}
.logo img{
    width: 05vw;
}
h1{
    color: aliceblue;
    margin-top: 2vh;
}
.icon img {
    width: 05vw;
}

.rodape{
    display: flex;
    background-color: var(--color3);
    justify-content: space-around;
}

.info {
    border: 2px solid var(--color2);
    width: 20vw;
    display: flex;
    margin-top: 2vh;
}

.fim p {
    margin-left: 7vh;
    font-size: 4vh;
}

.redesocial{ 
    justify-content: space-around;
    margin: 10px;
    display: flex; 
    width: 15%;
    height: 10vh;
    margin-right: 4%;
}
.facebook{
    width: 05vh;
    height: 05vh;
    cursor: pointer;
}
.instagram{
    width: 05vh;
    height: 05vh;
    cursor: pointer;
}
.youtube{
    width: 05vh;
    height: 05vh;
    cursor: pointer;
}
.whatsapp{
    width: 05vh;
    height: 05vh;
    cursor: pointer;
}


