*{
    padding: 0%;
    margin: 0%;
    border: 1px solid red;
}
:root {
    --color1: #4a69bd;
    --color2: #aaa69d;
    --color3: #d1ccc0;
}
main{
    display: flex;
}
.home{
    display: flex;
    background-color: rgb(79, 75, 75);
    justify-content: space-between;
}
.pesquisa{
    margin: 10px;
    width: 50%;
    height: 20px;
    border: 0.2px solid black;
    border-radius: 10px;
}
.usuario img{
    width: 03vw;
    margin-top: 10px;
}
.compra img{
    width: 03vw;
    margin-top: 10px;
}
.Cadastro{
    margin: 10px;
    width: 10%;
    height: 40px;
    border: 0.2px solid black;
    border-radius: 10px;
}
.logo img{
    width: 05vw;
}
h1{
    color: aliceblue;
}
.icon img {
    width: 05vw;
}
.rodape{
    display: flex;
    background-color: rgb(79, 75, 75);
    justify-content: space-between;
}
.redesocial{ 
    margin-right: 50%;
    justify-content: space-between;
    margin: 10px;
    display: flex; 
    width: 15%;
    height: 10vh;
}
.facebook{
    width: 05vh;
    height: 05vh;
    cursor: pointer;
}
.instagram{
    width: 05vh;
    height: 05vh;
    cursor: pointer;
}
.youtube{
    width: 05vh;
    height: 05vh;
    cursor: pointer;
}
.whatsapp{
    width: 05vh;
    height: 05vh;
    cursor: pointer;
}


