*{
    padding: 0%;
    margin: 0%;
}
:root {
    --color1: #4a69bd;
    --color2: #aaa69d;
    --color3: #d1ccc0;
}

.home{
    display: flex;
    background-color: var(--color3);
    justify-content: space-around;
}

h1{
    color: var(--color1);
    margin-top: 2vh;
}

.logo img{
    width: 05vw;
}

.pesquisa{
    margin: 10px;
    width: 50%;
    height: 20px;
    border: 1.5px solid var(--color2);
    border-radius: 10px;
    margin-top: 4vh;
    position: relative;
}

.usuario img{
    width: 03vw;
    margin-top: 2vh;
}

.cadastro{
    margin: 10px;
    width: 10%;
    height: 9vh;
    border: 0.2px solid var(--color2);
    border-radius: 10px;
    font-size: 2.5vh;
} 

.login{
    color: var(--color1);
}

.compra img{
    width: 03vw;
    margin-top: 2.5vh;
}



main {
    height: 100vh;
    justify-self: center;
    background-color: var(--color2);
    display: flex;
    justify-content:center;
}

.content {
    background-color: var(--color3);
    margin-top: 5vh;
	height: 70vh;
	width: 40vw;
	border-radius: 2vw;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.navigation {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
	display: flex;
}

.bar {
	width:2vw;
	height: 4.5vh;
	border: 2px solid var(--color2);
	margin: 1vh;
	border-radius: 9vw;
	cursor: pointer;
	transition: 1s;
	margin-bottom: -1em;
}

.bar:hover {
	background-color: var(--color1);
}

.slides {
	display: flex;
	width: 400%;
	height: 100%;
}

.slide {
	width: 55%;
	transition: 1s;
}

.slide img {
	width: 30vw;
}

#slide1 {
    display: none;
}

#slide2 {
    display: none;
}

#slide3 {
    display: none;
}

#slide4 {
    display: none;
}

#slide1:checked ~ .s1{
	margin-left: 2%;
}

#slide2:checked ~ .s1{
	margin-left: -29%;
}

#slide3:checked ~ .s1{
	margin-left: -95%;
}

#slide4:checked ~ .s1 {
	margin-left: -163%;
}




.rodape{
    display: flex;
    background-color: var(--color3);
    justify-content: space-around;
}

.icon img {
    width: 05vw;
}

.fim {
    border: 2px solid var(--color2);
    margin: 03vw;
    display: flex;
    background-color: #4a69bd;
}

.fim p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vh;
    color: #aaa69d;
}

.redesocial{ 
    justify-content: space-around;
    margin: 10px;
    display: flex; 
    width: 15%;
    height: 10vh;
    margin-right: 4%;
}
.facebook{
    width: 05vh;
    height: 05vh;
    cursor: pointer;
}
.instagram{
    width: 05vh;
    height: 05vh;
    cursor: pointer;
}
.youtube{
    width: 05vh;
    height: 05vh;
    cursor: pointer;
}
.whatsapp{
    width: 05vh;
    height: 05vh;
    cursor: pointer;
}


